<!-- templates/admin.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
    <a href="/">Home</a> |
    <a href="/login">Login</a> |
    <a href="/signup">Signup</a> |
    <a href="/admin">Admin</a> |
    <a href="/staff">Staff</a> |
    <a href="/member">Member</a> |
    <a href="/logout">Logout</a>
</nav>
<hr />

    <h1>👑 Admin Panel</h1>
    <div class="menu">
        <a href="/add-admin">➕ Add Admin</a>
        <a href="/remove-admin">➖ Remove Admin</a>
        <a href="/view-admins">📄 View Admins</a>
        <hr>
        <a href="/add-staff">➕ Add Staff</a>
        <a href="/remove-staff">➖ Remove Staff</a>
        <a href="/view-staff">📄 View Staff</a>
        <hr>
        <a href="/view-members">👥 View Members</a>
    </div>
</body>
</html>
