<!-- templates/member.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member Area</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
    <a href="/">Home</a> |
    <a href="/login">Login</a> |
    <a href="/signup">Signup</a> |
    <a href="/admin">Admin</a> |
    <a href="/staff">Staff</a> |
    <a href="/member">Member</a> |
    <a href="/logout">Logout</a>
</nav>
<hr />

    <h1>👤 Member Area</h1>
    <div class="menu">
        <a href="/register-member">📝 Register</a>
        <a href="/view-products">🛒 Buy Products</a>
    </div>
</body>
</html>
