<!-- templates/staff.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Panel</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
    <a href="/">Home</a> |
    <a href="/login">Login</a> |
    <a href="/signup">Signup</a> |
    <a href="/admin">Admin</a> |
    <a href="/staff">Staff</a> |
    <a href="/member">Member</a> |
    <a href="/logout">Logout</a>
</nav>
<hr />
    <h1>🧑‍💼 Staff Panel</h1>
    <div class="menu">
        <a href="/add-product">➕ Add Product</a>
        <a href="/remove-product">➖ Remove Product</a>
        <a href="/view-products">📦 View Products</a>
        <hr>
        <a href="/view-members">👥 View Members</a>
    </div>
</body>
</html>
